
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: "Roboto", serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2e41; /* Color principal */
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .logo img {
    height: 40px;
    margin-right: 0.5rem;
}

.navbar .logo h1 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-weight: 600;
    transition: color 0.3s;
}

.navbar .links a:hover {
    color: #2883a7; /* Color de hover para enlaces */
}

/* Searchbar */
.searchbar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.input-search {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
}

.input-search img {
    height: 20px;
    margin-right: 0.5rem;
    opacity: 0.7;
}

.input-search input {
    border: none;
    outline: none;
    font-size: 1rem;
    flex-grow: 1;
}

.btn-search,
.btn-clear {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s;
}

.btn-search {
    background-color: #2883a7; /* Color de botón de búsqueda */
}

.btn-search:hover {
    background-color: #16485c;
}

.btn-clear {
    background-color: #5e5e5e; /* Color de botón de limpiar */
}

.btn-clear:hover {
    background-color: #272727;
}

/* Main */
main {
    flex: 1;
    width: 100%;

}

/* Estilo para las secciones dentro del main */

.top-section {
    display: flex;
    flex-direction: column;
    background-image: url("./assets/img/bg.jpg");
    background-size:cover;
    background-position: center;
    justify-content: center;
    color: #fff;
    padding: 1rem 5rem;
    min-height: 100vh;

    div{
        
        h1{
            font-size: 5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            line-height: 1.15;
        }

        p{
            font-size: 1.5rem;
            margin-bottom: 1rem;
        }

        .btn-start{
            font-size: 1rem;
            padding: 0.5rem 3rem;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            transition: background-color 0.3s;
            background-color: #2883a7; /* Color de botón de búsqueda */
            margin-top: 1rem;
        }
    }
}
